<h1>Create a Song</h1>

<%= form_for @song do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />

  <%= f.label :song_artist_name %>
  <%= f.text_field :song_artist_name %>

  <%= f.collection_select :song_genre_name, Genre.all, :name, :name %>

  <input name="song[song_notes][]">
  <input name="song[song_notes][]">
  <input name="song[song_notes][]">

  <%= f.submit %>
<% end %>


