<h1>Songs#show</h1>

Title: <%= @song.title %><br>
Artist: <%= @song.artist_name %><br>
Genre: <%= @song.genre_name %><br>
Song Note 1: <%= @song.song_notes_1.content %><br>
Song Note 2: <%= @song.song_notes_2.content %><br>
