<h1><%=@song.artist.name %></h1>

Title: <%= @song.title %><br>
Genre: <%= @song.genre.name %><br>
Notes: 
    <% @song.try(:notes).try :each do |note| %>
      <li class=song-note><%= note.content %></li>
    <% end %>

 <p><%= link_to "See all songs", songs_path %></p>
